<!DOCTYPE html>
{% extends 'administradorAppTemplates/nav.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
        />
        {% block content %}
        <link
        rel="stylesheet"
        href="{% static 'css/styleAdm.css' %}"
        type="text/css"
        />
        <title>Agregar Producto</title>
    </head>
    <body class="container">
        <header class="row text-center"> 
            <h1>Agregar Productos</h1>
        </header>
        <main class="row text-center">
            <div class="row justify-content-center">
                <div class="col"></div>
                <form action="" method="post" class="align-items-start">
                    {% csrf_token %}
                    {% if messages %}
                        <div>
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% elif message.tags == 'error' %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.categoria.label_tag }} {{ form.categoria }}
                        {{ form.categoria.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.nombre.label_tag }} {{ form.nombre }}
                        {{ form.nombre.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.stock.label_tag }} {{ form.stock }}
                        {{ form.stock.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.precio.label_tag }} {{ form.precio }}
                        {{ form.precio.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.descripcion.label_tag }} {{ form.descripcion }}
                        {{ form.stock.errors }}
                    </div>
                    <button class="buttonAdm" type="submit">Crear</button>
                </form>
        </main>
        <footer class="row">
            <div class="botones col">
                <a href="{% url 'listaProductos' %}" type="button" class="buttonAdm">Listado de producto</a>
            </div>
            <div class="botones col">
                <a href="{% url 'ventasAdm' %}" type="button" class="buttonAdm">Volver</a>
            </div>
        </footer>
    </body>
    {% endblock %}
</html>