<!DOCTYPE html>
{% extends 'administradorAppTemplates/nav.html' %}
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Document</title>
    {% block content %}


    </head>
   
    <body class="container text-center">
        {% if editar %}
        <div class="row">
            <h1>Editar Usuario : {{ nombre }} {{ apellido }}</h1>
        </div>
        {% else %}
        <div class="row">
            <h1>Crear Nueva Cuenta</h1>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if messages %}
                <div>
                    {% for m in messages %}
                        {% if m.tags == 'success' %}
                            <div class="alert alert-success" role="alert">
                                {{ m }}
                            </div>
                        {% elif m.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                {{ m }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

                {% if editar %}
                <form method="post" class="align-items-start">
                    {% csrf_token %} 

                    <div class="form-group">
                        {{ form.nombre.label_tag }} {{ form.nombre }}
                        {{ form.nombre.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.apellido.label_tag }} {{ form.apellido }}
                        {{ form.apellido.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.telefono.label_tag }} {{ form.telefono }}
                    </div>    
                    
                    <div class="form-group">
                        {{ form.password.label_tag }} {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.direccion.label_tag }} {{ form.direccion }}
                    </div>
                    <div class="form-group">
                        {{ form.ciudad.label_tag }} {{ form.ciudad }}
                    </div>
                    <div class="form-group">
                        {{ form.comuna.label_tag }} {{ form.comuna }}
                    </div>                    
                    <button class="buttonAdm" type="submit" onclick="confirmarEditarUsuario('{{ nombre }}','{{ p.id }}');"">Editar</button>
                </form><br/>

                {% else %}
                <form method="post" class="align-items-start">
                    {% csrf_token %} 
                    <div class="form-group">
                        {{ form.rol.label_tag }} {{ form.rol }}
                        {{ form.rol.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.nombre.label_tag }} {{ form.nombre }}
                        {{ form.nombre.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.apellido.label_tag }} {{ form.apellido }}
                        {{ form.apellido.errors }}
                    </div>

                    <div class="form-group">
                        {{ form.telefono.label_tag }} {{ form.telefono }}
                        {{ form.telefono.errors }}
                    </div>

                    <div class="form-group">
                        {{ form.correo.label_tag }} {{ form.correo }}
                        {{ form.correo.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label_tag }} {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.confirmar_password.label_tag }} {{ form.confirmar_password }}
                    </div>
                    <div class="form-group">
                        {{ form.direccion.label_tag }} {{ form.direccion }}
                    </div>
                    <div class="form-group">
                        {{ form.ciudad.label_tag }} {{ form.ciudad }}
                    </div>
                    <div class="form-group">
                        {{ form.comuna.label_tag }} {{ form.comuna }}
                    </div>
                    <button class="buttonAdm" type="submit">Crear</button>
                </form><br/>
                {% endif %}
            <a href="{% url  devolverse  %}" class="buttonAdm">Volver</a>
        </div>
    </body>
    <!-- Terminar Eliminar Usuarios -->
    {% endblock %}
</html>