<!DOCTYPE html>
{% extends 'administradorAppTemplates/nav.html' %}

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrador</title>
  </head>
  {% block content %}


<script src="{% static 'js/adm.js' %}" type="text/javascript"></script>
  <body class="container text-center">

    <div class="row">
      <div class="col-md-4 bienvenida">
        <h1 class="prueba">BIENVENIDO ADMINISTRADOR</h1>
        <h2>{{ nombre }} {{ apellido }}</h2>
        <div class="">
          <img src="{% static 'img/logo.png' %}" alt="logo" class="logo" />
        </div>
      </div>
      <div class="botones col">
        <div class="row">
            <a type="button" class="buttonAdm" id="ventasAdm" href="{% url 'ventasAdm' %}"><img src="{% static 'img/ventas.png' %}" alt="" class="ventasImg"> Ventas y Productos</a>
        </div><br/>
        <div class="row">
            <a type="button" class="buttonAdm" id="usariosAdm" href="{% url 'usuariosAdm' %}"><img src="{% static 'img/usuarios.png' %}" alt="" class="ventasImg"> Gestion de Usuarios</a>
        </div><br/>
        <div class="row">
            <a type="button" class="buttonAdm" id="perfiladm" href="{% url 'perfilAdm' %}"><img src="{% static 'img/perfil.png' %}" alt="" class="ventasImg"> Perfil</a>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}
</html>
