<!DOCTYPE html>
{% extends 'administradorAppTemplates/nav.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Productos</title>
    </head>
    {% block content %}
    <body class="container">
        <header class="row">
            <h1 class="text-center">Inventario de Productos</h1>
        </header>
        <br>
        <main class="row">
            <div class="row">
                <div class="col listaProductos">
                    <form action="" method="post" class="text-start" >
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">NOMBRE</th>
                                    <th scope="col">DESCRIPCIÓN</th>
                                    <th scope="col">CATEGORÍA</th>
                                    <th scope="col">STOCK</th>
                                    <th scope="col">PRECIO</th>
                                    <th scope="col">MODIFICAR STOCK</th>
                                    <th scope="col">ELIMINAR</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for p in productos %}
                                <tr>
                                    <td>{{ p.nombre }}</td>
                                    <td>{{ p.descripcion }}</td>
                                    <td>{{ p.categoria }}</td>
                                    <td>{{ p.stock }}</td>
                                    <td>{{ p.precio }}</td>
                                    <td ><a class="buttonListPedido" href="{% url 'actualizarProducto' p.id %}"><i class="bi bi-pen"></i></a></td>
                                    <td ><a class="buttonListPedido"  onclick="confirmarEliminacionProducto('{{ p.nombre }}','{{ p.id }}');"><i class="bi bi-trash"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="row">
                <br>
                </div>
                <div class="col">
                    <a href="{% url 'agregarProductos' %}" class="buttonAdm">
                        Agregar Nuevo Producto
                    </a>
                </div>

            </div>
        </main>
        <footer class="row">
            <div class="botones col">
            <a href="{% url 'ventasAdm' %}" type="button" class="buttonAdm">Volver</a>
            </div>
            <p></p>
        </footer>
        
        
    </body>
    {% endblock %}
</html>