<!DOCTYPE html>
{% extends 'clienteAppTemplates/navCliente.html' %}

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cliente</title>
  </head>
  {% block contentCliente %}

  <body class="container text-center">

    <div class="row">
      <div class="col-md-4 bienvenida">
        <h1 class="prueba">BIENVENIDO CLIENTE</h1>
        <h2>{{ nombre }} {{ apellido }}</h2>
        <div class="">
          <img src="{% static 'img/logo.png' %}" alt="logo" class="logo" />
        </div>
      </div>
      <div class="botones col">
        <div class="row">
          <a href="{% url 'clienteCatalogo' %}" type="button" class="buttonAdm" id="ventasAdm" ><img src="{% static 'img/libro.png' %}" alt="" class="ventasImg"> Catálogo</a>
        </div>
        <div class="row">
            <a href="{% url 'clienteCarrito' %}" type="button" class="buttonAdm" id="usariosAdm" ><img src="{% static 'img/carrito.png' %}" alt="" class="ventasImg"> Carrito</a>
        </div>
        <div class="row">
          <a  href="{% url 'clientePedido' %}" type="button" class="buttonAdm" id="usariosAdm" ><img src="{% static 'img/listadoV.png' %}" alt="" class="ventasImg"> Gestión de Pedidos</a>
        </div>
        <div class="row">
          <a href="{% url 'clientePerfil' %}" type="button" class="buttonAdm" id="perfiladm" ><img src="{% static 'img/perfil.png' %}" alt="" class="ventasImg"> Perfil</a>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}
</html>
